<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <!-- THAY ĐƯỜNG LINK IPA TỪ GITHUB RELEASE VÀO ĐÂY -->
                    <string>https://github.com/TÊN_GITHUB/install-shopee/releases/download/v1.0/Shopee_Signed.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.beeasy.shopee.vn</string>
                <key>bundle-version</key>
                <string>3.79.35</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Shopee</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
